@charset "UTF-8";

@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
  
*{
    padding: 0;
    margin: 0;
    font-family: 'SUITE-Regular';
}

/* header 설정 */
header {
    text-align:center;
}
  
/* 로고 이미지 설정 */
.mainimage {
    width:200px;
    padding-top: 20px;
}


.board_view_div {
    margin: 60px;
}

.board_view_top {
	text-align:center;
}

.board_view_div p {
    padding-bottom: 3px;
}
  
#board_view_p_date {
    font-size: 14px;
    padding-bottom: 10px;
}

#board_view_hr {
    width: 50%;
    margin: 0 auto;
}

.board_content {
    width: 72%; /* 게시글 내용의 너비 설정 */
    margin: 0 auto; /* 가운데 정렬 */
    overflow-y: visible; /* 세로 스크롤바가 필요한 경우만 표시 */
    padding: 10px; /* 내용과 컨테이너 간의 간격 설정 */
}

.board-content-news {
    width: 72%; /* 게시글 내용의 너비 설정 */
    margin: 0 auto; /* 가운데 정렬 */
    overflow-y: visible; /* 세로 스크롤바가 필요한 경우만 표시 */
    padding: 10px; /* 내용과 컨테이너 간의 간격 설정 */
    text-align:center;
}





/* 답글쓰기, 목록, 삭제 버튼 디자인 */
.board-button {
	margin: 5px;
	float:right;
	border-radius: 100px;
    border:none;
    padding: 5px 10px;
}

.board-button:hover {
	background-color:yellowgreen;
}

.board-button-reply {
	margin: 5px;
	float:center;
	border-radius: 100px;
    border:none;
    padding: 5px 10px;
}

.board-button-reply:hover {
	background-color:yellowgreen;
}





.comment {
	text-align:left;
}

.comment_list {
	padding-top: 60px;
	text-align:left
}

#replyId {
	float:left;
}

  /* 댓글 스타일 */
  .comment {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    position: relative;
  }

  /* 작성자명 스타일 */
  .author {
    font-weight: bold;
  }

  /* 수정, 삭제 버튼 스타일 */
  .actions {
  	float:right;
    top: 5px;
    right: 0;
  }
  
  a {
  text-decoration: none;
  color:inherit;
  cursor:pointer;
  }
  
  #board-delete-btn,
  #board-list-btn,
  #board-modify-btn {
    text-decoration: none;
  	margin: 5px;
	float:right;
	border-radius: 100px;
    border:none;
    padding: 5px 10px;
  
  }

  /* 답글달기 버튼 스타일 */
  .reply-btn {
    display: block;
    margin-top: 5px;
    color: blue;
    cursor: pointer;
  }

  /* 답글 입력창 스타일 */
  .reply-form {
    margin-top: 10px;
  }
  
/* footer 설정 */
.site-footer hr{
  border-top-color:#bbb;
  opacity:0.5
}

.footer-links{
  padding-left:0;
  list-style:none
}

.footer-links a{
  color:#737373
}


/* Shopping Write CSS */

.shopping-view-div {
	float:center;
}

.shopping-write-image {
	width:500px;
	height:600px;
    border-radius:50px;
}

.d-flex {
	margin-left: 100px;
}

.left-text,
.right-text {
  padding: 0 20px; /* 좌우 여백 설정 */
}

.right-text {
	margin-top : 80px;
}

.product-setting {
	font-weight: bolder;
	font-size:18px;
	display: inline-block;
    width: 100px; /* 원하는 너비로 설정 */
    height:50px;
    text-align: right;
    padding: 10px;
    margin-bottom:30px;
}

.select-product-info {
	border:none;
	border-radius:10px;
	width:500px;
	padding:40px;
	background-color:#FBF6E2;
}

.product-input {
	border:none;
	width:200px;
}

.select-product {
	text-align:center;
	float:center;
}

#payment-button {
	border:none;
	border-radius: 100px;
	padding: 5px 10px;
}

#payment-button:hover {
	background-color:yellowgreen;
}
